#root {
  white-space: pre-line;
}

/*** Common ***/

.opacity-7 {
  opacity: .7;
}

.loader {
  display        : flex;
  height         : 100vh;
  justify-content: center;
  align-items    : center;
}

.pointer {
  cursor: pointer;
}

.lh-1 {
  line-height: 1;
}

.lh-1-5 {
  line-height: 1.5;
}

.icon-label {
  background       : linear-gradient(var(--main-deep-blue), var(--main-deep-blue));
  background-size  : 45px 45px;
  background-repeat: no-repeat;
  padding-left     : 55px;
  padding-top      : 10px;
}

.login-fieldset {
  min-width: 350px;
}

.login-fieldset .row {
  margin-bottom: 1.8rem;
}

.login-fieldset .icon-label-wrapper {
  margin-bottom: 3rem;
}

.bg-sky-green {
  background-color: var(--main-sky-green)
}

.bg-gray {
  background-color: var(--main-gray);
}

.bg-light-gray {
  background-color: var(--main-light-gray);
}

.bg-white {
  background-color: var(--main-bg-color);
}

.bg-light-red {
  background-color: var(--main-light-red);
}

.bg-light-orange {
  background-color: var(--main-light-orange);
}

.bg-orange {
  background-color: var(--main-orange);
}

.bg-deep-blue {
  background-color: var(--main-deep-blue)
}

.bg-green {
  background-color: var(--main-green)
}

.bg-dark-purple {
  background-color: var(--main-dark-purple)
}

.bg-primary-pink {
  background-color: var(--main-primary-pink)
}

.bg-frozen-blue {
  background-color: var(--main-frozen-blue)
}

.border-gray {
  border-radius: 12px;
  border       : 1px solid var(--main-gray)
}

.border-r-n {
  border-radius: 5px;
}

.border-r-8 {
  border-radius: 8px;
}

.border-r-100 {
  border-radius: 0px 100px 100px 0px;
}

.border-100 {
  border-radius: 100px;
}

.border-t-light-gray {
  border-top: 1px solid var(--main-light-gray)
}

.border-b-disable-light-purple {
  border-bottom: 1px solid var(--disable-light-purple)
}

.border-b-light-gray {
  border-bottom: 1px solid var(--main-light-gray)
}

.border-l-light-gray {
  border-left: 1px solid var(--main-light-gray)
}

.border-r-light-gray {
  border-right: 1px solid var(--main-light-gray)
}

.border-deep-dark {
  border-left : 0.5px solid var(--main-deep-gray);
  border-right: 0.5px solid var(--main-deep-gray);
}

.bar-h {
  min-height: 10px;
}

.dot {
  height       : 10px;
  width        : 10px;
  border-radius: 50%;
  display      : inline-block;
}

a {
  color          : var(--main-gray);
  text-decoration: none;
}

a.active {
  color: var(--main-orange)
}

.bg-cover {
  -webkit-background-size: cover !important;
  -moz-background-size   : cover !important;
  -o-background-size     : cover !important;
  background-size        : cover !important;
}

/*** Common End ***/

/*** Font ***/
.dark-gray {
  color: var(--main-dark-gray)
}

.deep-dark {
  color: var(--main-deep-dark)
}

.light-blue {
  color: var(--main-light-blue)
}

.deep-green {
  color: var(--main-deep-green)
}

.dark {
  color: var(--main-dark)
}

.dark-green {
  color: var(--main-dark-green)
}

.dark-purple {
  color: var(--main-dark-purple)
}

.white {
  color: var(--main-bg-color)
}

.orange {
  color: var(--main-orange)
}

.deep-blue {
  color: var(--main-deep-blue)
}

.light-red {
  color: var(--main-light-red)
}

.gray {
  color: var(--main-gray)
}

.light-purple {
  color: var(--text-light-purple)
}

.d-light-purple {
  color: var(--disable-light-purple)
}

.brown {
  color: var(--main-brown)
}

.light-gray {
  color: var(--main-light-gray)
}

.font-xs {
  font-size: 12px;
}

.font-s {
  font-size: 14px;
}

.font-n {
  font-size: 16px;
}

.font-m {
  font-size: 18px;
}

.font-xm {
  font-size: 20px;
}

.font-l {
  font-size: 24px;
}

.font-28 {
  font-size: 28px;
}

.font-xl {
  font-size: 30px;
}

.font-36 {
  font-size: 36px;
}

.font-xxl {
  font-size: 40px;
}

.font-48 {
  font-size: 48px;
}

.font-50 {
  font-size: 50px;
}

.font-70 {
  font-size: 70px;
}

.bold {
  font-weight: bold;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

/*** Font End ***/

/*** Style ***/
.drop-shadow {
  text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3);
}

.style-btn {
  padding      : 16px 16px;
  box-shadow   : 0px 9px 20px rgba(35, 215, 150, 0.4);
  border       : none;
  border-radius: 10px;
  max-width    : 100%;
  width        : 292px;
}

.style-btn:hover,
.style-btn:focus,
.style-btn:active,
.style-btn:disabled {
  background: var(--main-green);
  border    : none;
  box-shadow: 0px 9px 20px rgba(35, 215, 150, 0.4) !important;
}

.logo {
  width              : 228.81px;
  height             : 60px;
  background-image   : url('./assets/NWCON-LOGO.png');
  background-position: center center;
  background-size    : contain;
  background-repeat  : no-repeat;
}

.logo-md {
  width : 165px;
  flex  : 0 0 165px;
  height: 41px;
}

.slogan {
  width              : 418.8px;
  height             : 60px;
  background-image   : url('./assets/slogan.png');
  background-position: center center;
  background-size    : contain;
  background-repeat  : no-repeat;
}

.slogan-sm {
  width : 327px;
  flex  : 0 0 327px;
  height: 46px;
}

.sso-logo {
  width              : 44px;
  height             : 43px;
  background-image   : url('./assets/sso-logo.png');
  background-position: center center;
  background-size    : auto;
  background-repeat  : no-repeat;
}

.sso-logo-wrap {
  border-radius: 4px;
  box-shadow   : 0px 0px 7px rgba(192, 197, 233, 0.6);
  background   : rgba(255, 255, 255, 0.8);
}

.login-box {
  width        : 440px;
  border-radius: 20px;
  box-shadow   : 10px 10px 40px rgba(192, 197, 233, 0.6);
  background   : rgba(255, 255, 255, 0.8);
}

.language-box {
  width : 74px;
  height: 25px;
}

.download-wrap {
  width: 440px;
}

.login-header {
  padding-bottom: 130px;
}

.login-content {
  padding-bottom: 184px;
}

.project-select-dropdown {
  .menu {
      max-height: 200px;
  }
}

.cb-user-profile-wrap {
  background   : var(--main-nature-green);
  padding      : 7px;
  border-radius: 50%;
  position     : absolute;
  left         : 90px;
  top          : 20px;
  width        : 52px;
  height       : 52px;
}

/*** Project select ***/
.project-select {

  .project-select-box {
      margin-bottom: 203px;
      box-shadow   : 10px 10px 40px rgba(192, 197, 233, 0.6);
      border-radius: 20px;
  }

  .project-select-header {
      margin-bottom: 128px;
  }

  .project-select-dropdown {
      margin-bottom: 200px;
  }
}

/*** Project select end ***/

/*** Nav Top ***/
.nav-top {
  transform : none;
  top       : 0;
  opacity   : 1;
  display   : block;
  z-index   : 999;
  transition: all 0.5s ease 0s;
}

/*** Nav Top End ***/

.cb-clock-wrap {
  border-left  : 5px solid var(--main-nature-green);
  border-bottom: 1px solid var(--main-nature-green);
}

.footer-menu {
  position  : fixed;
  bottom    : -150px;
  height    : 56px;
  left      : 0;
  width     : 100%;
  transition: all 0.5s ease 0s;
  transform : translate3d(0px, -100%, 0px);
  display   : block;
  opacity   : 0;
}

/*** Style end ***/