:root {
    --main-bg-color: #fff;
    --main-orange: #F9AE00;
    --main-yellow: #E1CB04;
    --main-brown: #79580A;
    --main-light-orange: #FFF6E2;
    --main-deep-blue: #060236;
    --main-sky-blue: #DDF0F1;
    --main-light-red: #D60064;
    --main-ruby-red: #B43F3F;
    --main-gray: #efefef;
    --main-light-gray: #F7f7fc;
    --main-dark-gray: #5A5A65;
    --main-green: #3AB67D;
    --main-sky-green: #01A299;
    --main-light-green: #23AEA6;
    --main-light-purple: #D8D8F1;
    --disable-light-purple: #E3E3F2;
    --main-dark-purple: #060236;
    --main-primary-pink: #D60064;
    --main-light-black: #676580;
    --main-pink: #Fcf7fb;
    --main-dark: #524C6F;
    --main-deep-dark: #212121;
    --main-deep-gray: #979797;
    --main-nature-green: #018786;
    --main-dartmouth-green: #005457;
    --main-deep-green: #666668;
    --main-dark-green: #013232;
    --main-frozen-blue: #D5E2E8;
    --main-light-blue: #AEB4DD;
    --text-light-purple: #B4B2CC;
    --text-light-purple-2: #6E6893;
    --text-dark: #25213B;
    --text-gray: #67748E;
    --spacers: 1rem;
}