:root {
    --main-bg-color: #fff;
    --main-orange: #F9AE00;
    --main-brown: #79580A;
    --main-light-orange: #FFF6E2;
    --main-deep-blue: #060236;
    --main-light-red: #D60064;
    --main-gray: #918E9D;
    --main-light-gray: #F7f7fc;
    --main-green: #3AB67D;
    --main-light-green: #E7F5D6;
    --main-light-purple: #D8D8F1;
    --text-light-purple: #B4B2CC;
    --disable-light-purple: #E3E3F2;
    --main-dark-purple: #060236;
    --main-primary-pink: #D60064;
    --main-light-black: #676580;
    --main-pink: #Fcf7fb;
    --main-dark: #524C6F;
    --main-nature-green: #018786;
    --main-deep-green: #666668;
    --main-dark-green: #013232;
    --main-frozen-blue: #D5E2E8;
    --main-light-blue: #AEB4DD;
    --spacers: 1rem;
}