.view-shadow-box {
    box-shadow   : 0px 0px 10px rgba(0, 0, 0, 0.102751);
    border-radius: 12px;
}

.img-shadow {
    box-sizing: border-box;
    filter    : drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.ncr-menu-wrap {
    box-shadow   : 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &.active {
        background: var(--main-dartmouth-green);

        .ncr-menu-name {
            color: white !important;
        }
    }
}

.cb-data-tab-item {
    color        : var(--main-dark);
    background   : var(--main-gray);
    border-radius: 20px 20px 0px 0px;

    &.active {
        background: var(--main-light-green);
        color     : white;
    }
}

.index-border-lv {
    border: 6px solid transparent
}

.index-border-lv-1 {
    border-color: var(--main-sky-green);
}

.index-border-lv-2 {
    border-color: var(--main-orange)
}

.index-border-lv-3 {
    border-color: var(--main-ruby-red)
}

.gateway-box {
    height: calc(100% - 45px);
}

.gateway-box-content{
    width: 85px;
}

.min-width-content{
    min-width: 85px;
}

.vwt-iframe-wrap{
    position: absolute;
    width: 100%;
    left: 0;
    top: 140px;
    height: calc(100% - 141px);
}

.cb-bar{
    min-height: 16px;
}

.permit-table{
    >.row{
        height: 20%;
    }

    .permit-table-header{
        border-bottom: 3px solid var(--main-dartmouth-green);
    }

    .permit-table-content{
        border-bottom: 1px solid var(--main-deep-dark);

        &:nth-child(5){
            border-bottom: none;
        }
    }

    .permit-table-footer{
        border-top: 3px solid var(--main-dartmouth-green)
    }

    .permit-table-header,.permit-table-content,.permit-table-footer{
        .col:nth-child(1){
            flex:0 0 20%;
        }
        .col{
            min-height: 45px;;
        }
    }

}

.cb-data-table{
    .rdt_TableHeadRow{
        background-color: var(--main-sky-blue);
        color: var(--text-light-purple-2);
        font-weight: bold;
    }
}

.cb-central-search-bar{
    input{
        padding-left:2.67142857em!important;
        padding-right:2.67142857em!important;
    }
    .cb-central-search-left{
        left: 0;
    }
    .cb-central-search-right{

    }
}

.cb-chart-date-filter{
    left: 12px;
    top: 12px;
}

.cb-chart-date-filter .active{
    background-color: var(--main-light-green);
}

.cb-chart-date-filter .active div{
    color: white;
}

.ui.button.cb-central-search-btn{
    background: var(--main-sky-green);
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.cb-dount{
    max-height: 320px !important;
    min-height: 320px !important;
}

.cb-overlay{
    // background-color: #000000;
    // opacity: .5; 
}

.cb-range-permit-data-wrap{
    >div{
        >div:first-child:before{
            content: "";
            width: 12px;
            height: 12px;
            background: rgb(0, 143, 251);
            border-radius: 50%;
            margin-right: 10px;
        }

        &:nth-child(2){
            >div:first-child:before{
                background: rgb(0, 227, 150);
            }
        }
        &:nth-child(3){
            >div:first-child:before{
                background: rgb(254, 176, 25);
            }
        }
        &:nth-child(4){
            >div:first-child:before{
                background: rgb(255, 69, 96);
            }
        }
    }
}