.download-ios {
    background-image   : url('../assets/download_ios.png');
    background-position: center center;
    background-size    : auto;
    background-repeat  : no-repeat;
    width              : 132px;
    height             : 44px;
}

.download-android {
    background-image   : url('../assets/download_android.png');
    background-position: center center;
    background-size    : auto;
    background-repeat  : no-repeat;
    width              : 150px;
    height             : 44px;
}

.download-android-apk {
    background-image   : url('../assets/download_android_apk.png');
    background-position: center center;
    background-size    : auto;
    background-repeat  : no-repeat;
    width              : 103px;
    height             : 44px;
}

.crystal-ball-logo {
    width              : 58px;
    height             : 59px;
    background-image   : url('../assets/crystal-ball-logo.png');
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
}

.cb-favorite-icon {
    width              : 24px;
    height             : 24px;
    background-image   : url('../assets/favorite.png');
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
}

.cb-user-profile {
    background-image   : url('../assets/ic_feather-user.png');
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
    width              : 38px;
    height             : 38px;
}

.cb-notifications-icon {
    width              : 40px;
    height             : 49px;
    flex: 0 0 40px;
    background-image   : url('../assets/ic_outline-notifications-active.png');
    background-position: center;
    background-size    : contain;
    background-repeat  : no-repeat;
    position: relative;
    span{
        position: absolute;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        background: rgba(255, 0,0,.85);
        border-radius: 50%;
        bottom: 0;
        right: 0;
        color: white;
        font-size:80%;
    }
}

.info-icon {
    width              : 35.25px;
    flex               : 0 0 35.25px;
    height             : 34px;
    background-image   : url('../assets/ic_info-circle.png');
    background-position: center;
    background-size    : auto;
    background-repeat  : no-repeat;
}

.temperature-icon {
    width              : 50px;
    height             : 50px;
    flex               : 0 0 50px;
    background-image   : url('../assets/ic_temp.png');
    background-position: center;
    background-size    : auto;
    background-repeat  : no-repeat;
}

.check-icon {
    width              : 16px;
    height             : 16px;
    background-image   : url('../assets/ic_uncheck.png');
    background-position: center;
    background-size    : auto;
    background-repeat  : no-repeat;
}

.ear-icon {
    width              : 50px;
    height             : 50px;
    flex               : 0 0 50px;
    background-image   : url('../assets/ic_ear-outline.png');
    background-position: center;
    background-size    : auto;
    background-repeat  : no-repeat;
}

.face-mask-icon {
    width              : 50px;
    height             : 50px;
    flex               : 0 0 50px;
    background-image   : url('../assets/ic_face-mask-outline.png');
    background-position: center;
    background-size    : auto;
    background-repeat  : no-repeat;
}

.gateway-in-icon {
    width              : 83px;
    height             : 83px;
    flex               : 0 0 83px;
    background-image   : url('../assets/ic_gateway-in.png');
    background-position: center;
    background-size    : auto;
    background-repeat  : no-repeat;
}

.gateway-out-icon {
    width              : 83px;
    height             : 83px;
    flex               : 0 0 83px;
    background-image   : url('../assets/ic_gateway-out.png');
    background-position: center;
    background-size    : auto;
    background-repeat  : no-repeat;
}

.worker-icon {
    width              : 35px;
    height             : 35px;
    background-image   : url('../assets/ic_worker-outline.png');
    background-position: center;
    background-size    : auto;
    background-repeat  : no-repeat;
}

.cb-ncr-menu-icon {
    width              : 20px;
    height             : 20px;
    background-position: center;
    background-size    : auto;
    background-repeat  : no-repeat;
}

.cb-checklist-icon {
    background-image: url('../assets/ic_card-checklist.png');
    &.active{
        background-image: url('../assets/ic_card-checklist-white.png');
    }
}

.cb-arrow-exchange-icon {
    background-image: url('../assets/ic_arrows-exchange.png');
    &.active{
        background-image: url('../assets/ic_arrows-exchange-white.png');
    }
}

.cb-iot-icon {
    background-image: url('../assets/ic_icons_iot.png');
    &.active{
        background-image: url('../assets/ic_icons_iot-white.png');
    }
}

.logo-sm {
    width : 35px;
    height: 36px;
}

.tree-icon {
    width              : 34px;
    height             : 34px;
    background-image   : url('../assets/ic_tree.png');
    background-repeat  : no-repeat;
    background-size    : auto;
    background-position: center;
}

.door-left-icon {
    width              : 34px;
    height             : 34px;
    background-image   : url('../assets/ic_door-left.png');
    background-repeat  : no-repeat;
    background-size    : auto;
    background-position: center;
}

.box-bg {
    background-repeat: no-repeat;
}

.box-vector-bg {
    background-image   : url('../assets/vector.png');
    background-position: bottom -25px right -3px;
    background-size    : 86px 74px;
}

.box-fire-bg {
    background-image   : url('../assets/fire.png');
    background-position: bottom -19px right 0px;
    background-size    : 58px 68px;
}

.box-wall-bg {
    background-image   : url('../assets/wall.png');
    background-position: bottom -8px right -7px;
    background-size    : 67px 51px;
}

.box-stair-bg{
    background-image   : url('../assets/stair.png');
    background-position: bottom -12px right 0px;
    background-size    : 49px 62px;
}

.box-ceiling-bg{
    background-image   : url('../assets/ceiling.png');
    background-position: bottom -4px right -4px;
    background-size    : 50px 50px;
}

.user-icon {
    width              : 42px;
    height             : 42px;
    background-image   : url('../assets/ic_feather-user.png');
    background-repeat  : no-repeat;
    background-size    : 35px 35px;
    background-position: center;
    background-color   : var(--main-nature-green);
    padding            : 7px;
    border-radius      : 50%;
}

/*** Nav Tab ***/
.nav-tab {
    width              : 24px;
    height             : 24px;
    background-repeat  : no-repeat;
    background-size    : auto;
    background-position: center;
    margin             : 0 auto;
}

.nav-tab-home {
    background-image: url('../assets/ic_checklist.png')
}

.nav-tab-safety {
    background-image: url('../assets/ic_health.png')
}

.nav-tab-database {
    background-image: url('../assets/ic_book.png')
}

.nav-tab-vwt {
    background-image: url('../assets/ic_vwt.png')
}

.nav-tab-gia {
    background-image: url('../assets/ic_gia.png')
}

/*** Nav Tab end ***/

/*** HKO ***/
.hko{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-size: contain;

    &.WCOLD{background-image: url('../assets/hko-icon/cold.gif');}
    &.WFIRER{background-image: url('../assets/hko-icon/firer.gif');}
    &.WFIREY{background-image: url('../assets/hko-icon/firey.gif');}
    &.WHOT{background-image: url('../assets/hko-icon/vhot.gif');}
    &.WMSGNL{background-image: url('../assets/hko-icon/sms.gif');}
    &.WRAINA{background-image: url('../assets/hko-icon/raina.gif');}
    &.WRAINR{background-image: url('../assets/hko-icon/rainr.gif');}
    &.WRAINB{background-image: url('../assets/hko-icon/rainb.gif');}
    &.WRAINB{background-image: url('../assets/hko-icon/rainb.gif');}
    &.WRAINB{background-image: url('../assets/hko-icon/rainb.gif');}
    &.WL{background-image: url('../assets/hko-icon/landslip.gif');}
    &.TC1{background-image: url('../assets/hko-icon/tc1.gif');}
    &.TC3{background-image: url('../assets/hko-icon/tc3.gif');}
    &.TC8NE{background-image: url('../assets/hko-icon/tc8ne.gif');}
    &.TC8SE{background-image: url('../assets/hko-icon/tc8se.gif');}
    &.TC8SW{background-image: url('../assets/hko-icon/tc8sw.gif');}
    &.TC8NW{background-image: url('../assets/hko-icon/tc8nw.gif');}
    &.TC9{background-image: url('../assets/hko-icon/tc9.gif');}
    &.TC10{background-image: url('../assets/hko-icon/tc10.gif');}
    &.WTMW{background-image: url('../assets/hko-icon/tsunami-warn.gif');}
    &.WTS{background-image: url('../assets/hko-icon/ts.gif');}
}

/*** HKO end ***/