.download-ios {
    background-image   : url('../assets/download_ios.png');
    background-position: center center;
    background-size    : auto;
    background-repeat  : no-repeat;
    width              : 132px;
    height             : 44px;
}

.download-android {
    background-image   : url('../assets/download_android.png');
    background-position: center center;
    background-size    : auto;
    background-repeat  : no-repeat;
    width              : 150px;
    height             : 44px;
}

.download-android-apk {
    background-image   : url('../assets/download_android_apk.png');
    background-position: center center;
    background-size    : auto;
    background-repeat  : no-repeat;
    width              : 103px;
    height             : 44px;
}

.crystal-ball-logo {
    width              : 58px;
    height             : 59px;
    background-image   : url('../assets/crystal-ball-logo.png');
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
}

.cb-favorite-icon {
    width              : 24px;
    height             : 24px;
    background-image   : url('../assets/favorite.png');
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
}

.cb-user-profile {
    background-image   : url('../assets/feather_user.png');
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
    width              : 38px;
    height             : 38px;
}

.cb-notifications-icon {
    width              : 46px;
    height             : 46px;
    background-image   : url('../assets/ic_outline-notifications-active.png');
    background-position: center;
    background-size    : contain;
    background-repeat  : no-repeat;
}

.info-icon {
    width              : 35.25px;
    height             : 34px;
    background-image   : url('../assets/ic_info-circle.png');
    background-position: center;
    background-size    : auto;
    background-repeat  : no-repeat;
}

.check-icon {
    width              : 16px;
    height             : 16px;
    background-image   : url('../assets/ic_uncheck.png');
    background-position: center;
    background-size    : auto;
    background-repeat  : no-repeat;
}

.cb-ncr-menu-icon {
    width              : 20px;
    height             : 20px;
    background-position: center;
    background-size    : auto;
    background-repeat  : no-repeat;
}

.cb-checklist-icon {
    background-image: url('../assets/ic_card-checklist.png');

}

.cb-arrow-exchange-icon {
    background-image: url('../assets/ic_arrows-exchange.png');
}

.cb-iot-icon {
    background-image: url('../assets/ic_icons_iot.png');
}

.logo-sm {
    width : 35px;
    height: 36px;
}

.tree-icon {
    width: 34px;
    height: 34px;
    background-image: url('../assets/ic_tree.png');
    background-repeat  : no-repeat;
    background-size    : auto;
    background-position: center;
}

/*** Nav Tab ***/
.nav-tab {
    width              : 24px;
    height             : 24px;
    background-repeat  : no-repeat;
    background-size    : auto;
    background-position: center;
    margin             : 0 auto;
}

.nav-tab-home {
    background-image: url('../assets/ic_checklist.png')
}

.nav-tab-safety {
    background-image: url('../assets/ic_health.png')
}

.nav-tab-database {
    background-image: url('../assets/ic_book.png')
}

.nav-tab-vwt {
    background-image: url('../assets/ic_vwt.png')
}

.nav-tab-gia {
    background-image: url('../assets/ic_gia.png')
}

/*** Nav Tab end ***/