/* sm to md */
// @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
@media only screen and (min-width: 320px) and (max-width: 768px){
    /* login */
    .slogan, .logo{
        width: 100%;
        margin: 8px auto !important;
        background-size: contain;
    }

    .download-wrap, .login-box{
        width: 100%;
        max-width: 440px;
    }

    .download-wrap{
        align-items: center !important;
        flex-direction: column;
    }

    .download-wrap >div{
        margin-bottom: 10px;
    }

    .login-header{
        padding-bottom: 10px;
    }

    .login-content{
        padding-bottom: 50px;

        .slogan-text1{
            font-size: 20px;
        }

        .slogan-text2{
            font-size: 50px;
        }
    }

    /* login end */
}